/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: #2c2f33;
  color: white;
  font-family: "Arial";
}
h1 {
  font-family: "Comic Sans MS";
  font-size: 64px;
  color: orange;
  margin: 15px;
}
a {
  color: orange;
}
img {
  padding: 15px;
}
table,th,td {
  border: 2px solid white;
  border-collapse: collapse;
}
table {
  border: 3px solid white;
}
th, td {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}