:root{
  --background: #282A36;
  --foreground: #F8F8F2;
  --accent: #FFB86C;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "montserrat";
  font-variant: small-caps;
  font-size: 1.5rem;
  
  transition: all 100ms ease;
}

/* does not work yet */ 
.coolsplit {
  overflow: auto;
  position: absolute;
  right: 0;
  top: -100svh;
  z-index: -10;
  background-color: var(--accent);
  opacity: 10%;
  height: 200svh;
  width: 100svw;
  /* transform: skew(-10deg); */
  /* margin: -3px;  */
}

h1 {
  /* font-family: "Comic Sans MS"; */
  text-transform: capitalize;
  font-variant: small-caps;
  font-style: italic;
  font-size: 4em;
  color: var(--accent);
  margin: 15px;
}

a {
  color: var(--accent);
}

img {
  padding: 15px;
}

table,
th,
td {
  border: 2px solid var(--foreground);
  border-collapse: collapse;
}

table {
  border: 3px solid var(--foreground);
  transform: skew(-10deg);
}

th,
td {
  text-align: center;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transform: skew(0deg);
}